

body {
  font-family: 'lato', sans-serif;
  background-color: black;
  margin: 0;
  overflow-y: auto;
}


.container {
  width: 1200px;
  background-color: #FFFFFF;
  display: flex; 
  flex-direction: column; 
  justify-self: center;
  align-items: center; 
  justify-content: flex-start;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-y: auto;
}

header {
  display: flex;
  width: 1120px;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  box-shadow: 0px 4px 6px #0000001a; 
  background-color: #819bc6; 
  color: #FFFFFF; 
  padding: 10px 40px; 
  border-radius: 0 0 5px 5px;
  position: sticky;
}

/* Footer */
footer {
  background-color: #819bc6; 
  color: white;
  text-align: center; 
  padding: 20px;
  position: static; 
  bottom: 0;
  width: 1160px;
  font-size: 1rem; 
  border-radius: 5px 5px 0 0;
  margin-top: 50px;
}






/********************************** Employees List  **********************************/
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  padding: 30px 10px 15px 10px;
}

.addBtn{
  display: flex;
  justify-content: left;
  width: 1100px;
}

/* Table 
Taken from free cite & adapted to work here 
For some reason the list sits 40px to the right ¯\_('-')_/¯ */
.responsive-table {
  li {
    width: 1100px;
    border-radius: 3px;
    padding: 25px 0 25px;
    display: flex;
    margin-left: -40px;
    margin-bottom: 25px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }
  .table-header {
    background-color: #8aa0a1;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 30px 0 30px;
    justify-content: center
  }
  .table-row {
    background-color: #8f8fb9;
    box-shadow: 0px 0px 9px 0px #0000001a;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .table-row p{
    margin-left: 30%;
  }
  .table-row input {
    margin-left: auto;
    margin-right: 30%;
    border-radius: 5px;
    padding: 12px 15px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    width: 30%;
    box-sizing: border-box; 
  }
  .col-1 {
    flex-basis: 20%;
  }
  .col-2 {
    flex-basis: 20%;
  }
  .col-3 {
    flex-basis: 30%;
  }
  .col-4 {
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px; 
  }
}



/********************************** BUTTONS **********************************/
.blueBtn, .redBtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.blueBtn {
  background-color: #007bffd3;
}

.blueBtn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.redBtn {
  background-color: #ff0000d0;
}

.redBtn:hover {
  background-color: #bb0000d0;
  transform: scale(1.05);
}

button {
  border: none;
}


/********************************** Add Employee **********************************/
